.hoverUnderlineAnimation {
    display: inline-block;
    position: relative;
}

.hoverUnderlineAnimation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color:
        rgb(20 184 166);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hoverUnderlineAnimation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}